/*
 ==================
  Buttons
 ==================
*/

.btn{
  padding: 1rem;
 background-color: $color-orange;
  border-radius:20px;
  color:$color-white;
  font-size:1.3rem;
  min-width: 150px;
  border:2px solid $color-orange;


  &:hover, &:active{
    background-color: transparent;
    color:$color-orange;
  }
}