.button-group{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.element-item-container{
  padding:1rem;
  border:1px solid $color-orange;
  font-size: 1rem;
  text-align:center;

  p{
    margin:0;
  }
}

.grid >div{
  margin-top:1rem;
}
