/*
 ==================
  Table
 ==================
*/


table{
  width: 100%;
  margin-top: 3rem;
}
thead{
  width: 100%;
  background-color: $color-white;

  th{
    color: $color-orange;
    font-weight: 500;
    border-right: 1px solid $color-gray;
    border-left: 1px solid $color-gray;
    font-size: 1.3rem;
  }
}

td,th{
  padding:1rem;
}

tbody{
  width: 100%;
}
td{
  border: solid 1px $color-darkgray;
}

tr:last-child td{
  border-bottom: none;
}
td.blocked{
  background: red;
}