/*
 ==================
  Components
 ==================
*/

.teaser{
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
  min-height: 300px;
  background-position: center;
  background-size: cover;
  position: relative;

  p{
    width:100%;
    position: absolute;
    bottom:0;
    left:0;
    padding:1rem;
    background-color:$color-orange;
    margin:0;
    text-align: center;
    font-size: 2rem;
    color: $color-white;
    font-family: $headings-font-family;
  }
}

.manager{
  background-image: url("../img/manager.jpg");
}

.lehrer{
  background-image: url("../img/lehrer.jpg");
}

.teaser__kurs{
  &:hover{
    box-shadow:6px 5px 7px 0  rgba($color-black, 0.3);
  }

  div{
    padding:1rem;
    background-color: $color-lightgray;
    p{
      color:$text-color;
    }
  }
}

.teaser__kurs-link{
  &:hover{
    p{
      color:$text-color;
    }
  }
}