/* 
===================
 Animations
===================
*/

%ap-animation--fade-in,
.ap-animation--fade-in {
  animation-name: ap-animation--fade-in;
  animation-duration: .5s;
}

@keyframes ap-animation--fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
