/* 
===================
 Colors
===================
*/

// Primary colors

// Secondary colors

// Other colors
$color-white:           rgb(255, 255, 255);
$color-black:           rgb(0, 0, 0);

// Themes
$themes: (
  // name, primary, secondary)
  //("sexualhormone", $color-sexualhormone, $color-sexualhormone-dark, $color-sexualhormone-light),
  //("indikationen", $color-indikationen, $color-indikationen-dark, $color-indikationen-light),
  //("spezialisten", $color-spezialisten, $color-spezialisten-dark, $color-spezialisten-light),
  //("fortbildung", $color-fortbildung, $color-fortbildung-dark, $color-fortbildung-light),
  //("materialien", $color-materialien, $color-materialien-dark, $color-materialien-light),
);

//Theme usage:
//@each $name, $bg-color, $text-color in $themes {
//  .ap-element--theme-#{$name} {
//    background-color: $bg-color;
//    color: $text-color;
//  }
//}

/*
===================
 Fonts
===================
*/
$font-family-serif:         'Roboto', serif;
$font-family-sans-serif:    'Roboto', sans-serif;

$font-family-base:          $font-family-sans-serif;
$headings-font-family:      $font-family-base;

//$text-color:                $color-hs-blue;
//$link-color:                $color-hs-blue;
//$link-hover-color:          $color-hs-blue;

$link-hover-decoration:     underline;

$font-size-base-desktop:    16px;
$font-size-base-mobile:     22px;

/*
===================
 Sizes
===================
*/

/*
===================
 Z-index
===================
*/

/*
===================
 Bootstrap
===================
*/

