/* 
===================
 Colors
===================
*/

// Primary colors
$color-orange: rgb(255, 195, 0);
$color-red: rgb(255, 87,51);
$color-lemon: #F2FFDE;

// Secondary colors
$color-gray: rgb(100,100,100);
$color-lightgray: rgb(220,220,220);
$color-darkgray: rgb(50,50,50);


// Other colors
$color-white:           rgb(255, 255, 255);
$color-black:           rgb(0, 0, 0);


/*
===================
 Fonts
===================
*/
$font-family-serif:         'RobotoMono', serif;
$font-family-sans-serif:    'Roboto', sans-serif;

$font-family-base:          $font-family-sans-serif;
$headings-font-family:      $font-family-serif;

$text-color:$color-darkgray;
$link-color:                $color-red;
$link-hover-color:          $color-gray;

$font-size-base-desktop:    16px;
$font-size-base-mobile:     22px;

