/*
 ==================
  General
 ==================
*/

body{
  font-size: $font-size-base-mobile;
  font-weight: normal;
  font-family: $font-family-base;

  @include media-breakpoint-up(md) {
    font-size: $font-size-base-desktop;
  }
}


.main{
  margin-top: 5rem;
}
/*
  Typographie
 */

h1, h2,h3,h4{
  color: $color-orange;
  text-transform: uppercase;
  font-family: $font-family-serif;
  margin-bottom: 1rem;
}

h1{
  font-size: 3rem;
  margin-bottom:3rem;
}

h2{
  font-size: 2rem;
}

h3{
  font-size: 1.5rem;
}

h4{
  font-size: 1.2rem;
  color:$text-color;
}

p.infotxt{
  font-size: 1.5rem;
  font-style: italic;
}

a{
  &:hover{
    text-decoration: none;
    color:$link-hover-color;
  }
}

/*
  Listen
 */



img{
  max-width: 100%;
}
